# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# android/ klasörü derleme sırasında `flutter create` ile üretilir
android/
ios/
linux/
macos/
windows/
test/

# Diğer
*.iml
.idea/
.vscode/
.DS_Store
build.log
sipsak.apk
